In [57]:
#Import the Required Libraries

import numpy as np
import pandas as pd
import sklearn as sk
import sklearn.model_selection as model_selection

In [58]:
## Read in the data from the wine file

winedf = pd.read_csv("Data/winequality-white.csv",delimiter= ";")
print(winedf.shape)
print(winedf.dtypes)
winedf.head()

(4898, 12)
fixed acidity           float64
volatile acidity        float64
citric acid             float64
residual sugar          float64
chlorides               float64
free sulfur dioxide     float64
total sulfur dioxide    float64
density                 float64
pH                      float64
sulphates               float64
alcohol                 float64
quality                   int64
dtype: object

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6

In [59]:
## Set up target value depending on the quality value

#if quality in range 0,5 then 0 else 1
def target_set_value(row):
    if row['quality'] >= 0 and row['quality'] <=5:
        return 0
    else:
        return 1
winedf['Target'] = winedf.apply(target_set_value,axis = 1)
winedf.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,Target
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6,1
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6,1
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6,1
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6,1
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6,1

In [60]:
#Write the imbalance ratio

#get the number of each class
PostiveClassCount = winedf.loc[winedf.Target == 1,'Target'].count()
NegativeClassCount = winedf.loc[winedf.Target == 0,'Target'].count()
print(f"Positive Case Count [Target = 1] = {PostiveClassCount}")
print(f"Negative Case Count [Target = 0] = {NegativeClassCount}")
print(f"Total Case Count = {PostiveClassCount+NegativeClassCount}")
print(f"Imbalance Ratio of DataSet ([Positive Case Count]/[Negative Case Count]): = {round(PostiveClassCount/NegativeClassCount,4)}")

Positive Case Count [Target = 1] = 3258
Negative Case Count [Target = 0] = 1640
Total Case Count = 4898
Imbalance Ratio of DataSet ([Positive Case Count]/[Negative Case Count]): = 1.9866

In [61]:
#Split the data into Train, Validation, Test sets (60,20,20) data split

#Set up the input values of the system, all columns of the data frame except the quality and target values
Xvalues = winedf.drop(columns=['quality','Target'])
#Set up the desired output values of the systme, the Target value column of the data frame
Yvalues = winedf.Target

#Set Up random state value to be able to reproduce the results
RandomState = 13

#Split the Xvalues and Yvalues into the desired subsets of the datapool
x_train, x_test, y_train, y_test =  model_selection.train_test_split(Xvalues,Yvalues,test_size=0.2,random_state=RandomState)

#Split X_Train values again to produce the validation set for the datapool
x_train, x_val, y_train, y_val = model_selection.train_test_split(x_train,y_train,test_size=0.25,random_state=RandomState)